version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      bsky:
        patterns:
          - "atrium-api"
          - "bsky-sdk"
      serde:
        patterns:
          - "serde*"
